h1 {
    color: red;
}

p {
    color: green;
}

p + p {
    color:blue;
}

ul {
    list-style-type: square;
}

li em {
    color: rebeccapurple;
}


a:link {
    color: blue;
    font-weight: bold;
}

a:visited {
    color: green;
}

a:hover {
    text-decoration: none;
}